/* Global reset and base styles */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #444;
  background: transparent;
}

#root {
  height: 100vh;
  width: 100vw;
  position: relative;
}

/* Math font family for equations */
p {
  font-family: Latin Modern Math, math;
}